NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    NationalParks.xsd
    XML Schema for the National Parks directory.
    CSE 445 Assignment 4
    
    Structure:
      NationalParks (root)
        NationalPark (1 or more) [optional attribute: Rating]
          Name
          Phone (1 or more)
          Address [required attribute: NearestAirport]
            Number
            Street
            City
            State
            Zip
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <!-- At least one NationalPark element is required; unlimited allowed -->
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name: exactly one required -->
              <xs:element name="Name" type="xs:string"/>
              <!-- Phone: at least one required; multiple allowed -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <!-- Address: exactly one required -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City"   type="xs:string"/>
                    <xs:element name="State"  type="xs:string"/>
                    <xs:element name="Zip"    type="xs:string"/>
                  </xs:sequence>
                  <!-- NearestAirport: REQUIRED attribute on Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Rating: OPTIONAL attribute on NationalPark -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
